{% extends 'main.html' %}
{% block content %}
<main class="content px-3 py-2">
    <div class="container-fluid">
        {{data_df|safe}}

        <div class="mb-4 text-center">
            <h4>Informações {{obj.name}}</h4>
        </div>
        <div class="d-flex justify-content-end mb-4">
            <a href="{% url 'human:update' obj.id %}"> <button type="button" class="btn btn-outline-warning ">
                    <i class="fa-solid fa-pen-to-square"></i></button>
            </a>
        </div>
        <!-- Informação Funcionário -->
        <div class="row">
            <div class="col d-flex">
                <div class="card flex-fill border-0 illustration">
                    <div class="card-body p-0 d-flex flex-fill">
                        <div class="row g-0 w-100">
                            <div class="col-8">
                                <div class="p-3 m-1">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-warning text-center">
                                            <strong>{{obj.name}}</strong>
                                        </li>
                                        <li class="list-group-item list-group-item-secondary"> Departamento:
                                            <strong>{{obj.get_department_display}}</strong>
                                        </li>
                                        <li class="list-group-item list-group-item-secondary"> Email:
                                            <strong>{{obj.email}}</strong>
                                        </li>
                                        <li class="list-group-item list-group-item-secondary"> Tel. :<strong>+351
                                                {{obj.contact}}</strong></li>
                                        <li class="list-group-item list-group-item-secondary"> Morada:
                                            <strong>{{obj.address}}</strong>
                                        </li>
                                        <li class="list-group-item list-group-item-secondary"> Nacionalidade:
                                            <strong>{{obj.nationality}}</strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-4 align-self-end text-end">
                                <img src="{{obj.image.url}}" class="img-fluid illustration-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim Informações gerais Funcionário-->
            </div>
        </div>

        <!-- Calculos de Produtividade -->

        <!-- Fim Calculos de Produtividade -->


        <!-- Ínicio Informações de Produção -->
        <div class="row my-4">
            <div class="col d-flex">
                <div class="card flex-fill border-0 illustration p-2 my-2">
                    <div class="card-body p-0 d-flex flex-fill">
                        <div class="row g-0 w-100">
                            <!-- Lista Produções -->
                            <div class="col-8 d-flex">
                                <div class="p-3 m-1">
                                    <ul class="list-group">
                                        <li
                                            class="list-group-item list-group-item-warning d-flex justify-content-between">
                                            <strong>Produções Do Produto {{obj.name}}</strong>
                                        </li>
                                        {% for item in productions %}
                                        <li class="list-group-item list-group-item-secondary">
                                            <strong>{{item.employee}} - {{item.quantity}}
                                                ({{item.date.day}}/{{item.date.month}}/{{item.date.year}})</strong>
                                            <span
                                                class="badge bg-secondary rounded-pill align-self-end">{{item.quantity}}</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




{% endblock content %}