{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}




<!-- Modal -->
<div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeModal">Adicionar Funcionário</h5>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark"></i></button>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- first_name , last_name -->
                    {{ form.first_name.errors }}
                    {{ form.last_name.errors }}
                    <div class="input-group mb-3">
                        <span class="input-group-text">Primeiro e Ultimo Nome</span>
                        <input type="text" aria-label="First name" class="form-control" name="first_name">
                        <input type="text" aria-label="Last name" class="form-control" name="last_name">
                    </div>
                    {{ form.email.errors }}

                    <!-- Email -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                        <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="email"
                            aria-describedby="basic-addon1">
                    </div>
                    <!-- department -->
                    {{ form.department.errors }}
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Departamento</label>
                        <select class="form-select" id="inputGroupSelect01" name="department">
                            <option selected disabled>Choose...</option>
                            {% for choice in form.department.field.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {{ form.image.errors }}
                    <!-- Escolher Imagem  -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupFile01">Fotografia</label>
                        <input type="file" class="form-control" id="inputGroupFile01" name="image">
                    </div>
                    {{ form.contact.errors }}
                    <!-- Contacto -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Tel.</span>
                        <input type="text" class="form-control" placeholder="Contact" aria-label="Contact"
                            aria-describedby="basic-addon1" name="contact">
                    </div>
                    {{ form.nationality.errors }}
                    <!-- Nacionalidade -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nacionalidade</span>
                        <input type="text" class="form-control" placeholder="Nationality" aria-label="Nationality"
                            aria-describedby="basic-addon1" name="nationality">
                    </div>
                    {{ form.addres.errors }}
                    <!-- Morada -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Morada</span>
                        <input type="text" class="form-control" placeholder="Address" aria-label="Address"
                            aria-describedby="basic-addon1" name="address">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning border-2 text-bottom p-2">Confirmar<span
                            class="badge bg-dark mx-2"><i class="fa-solid fa-check"></i></span></button>
                </div>
            </form>
        </div>
    </div>
</div>




<main class="content px-3 py-2">

    <div class="container-fluid">
        <div class="mb-3 text-center">
            <h4> Tabela de Funcionários</h4>
        </div>
        <div class="action mb-4 text-end">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#employeeModal"><i
                    class="fa-solid fa-plus"></i></button>
        </div>


        <div class="card border-0">
            <!-- Start Table Produtos -->
            <div class="card-body text-center">
                <table class="table bg-white">
                    <thead class="thead-dark">
                        <tr class="table-dark">
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Atividade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in objects %}
                        <tr>
                            <th scope="row">{{obj.id}}</th>
                            <td>{{obj.first_name}} {{obj.last_name}}</td>
                            <td>{{obj.email}}</td>
                            <td>{{obj.department}}</td>
                            <td class="text-center">
                                <a class='btn btn-warning btn-sm' href="{% url 'human:view' obj.id %}"><i
                                        class="fa-regular fa-eye"></i></a>
                                <!-- Button triger modal -->
                                <a id="edit-btn" type='button' class='btn btn-success btn-sm edit-btn'
                                    href="{% url 'human:update' obj.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class='btn btn-danger btn-sm' href="{% url 'human:delete' obj.id %}"><i
                                        class="fa-regular fa-circle-xmark"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}