{% extends 'main.html' %}
{% block content %}
<main class="content px-3 py-2">

    <div class="container-fluid">
        <div class="mb-3 text-center">
            <h4> Tabela de Funcionários</h4>
        </div>
        <div class="action mb-4 text-end">
            <a type="button" class="btn btn-warning" href="{% url 'human:create' %}"><i
                    class="fa-solid fa-plus"></i></a>
        </div>
        <div class="card border-0">
            <!-- Start Table Produtos -->
            <div class="card-body text-center">
                <table class="table bg-white">
                    <thead class="thead-dark">
                        <tr class="table-dark">
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Atividade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in objects %}
                        <tr>
                            <th scope="row">{{obj.id}}</th>
                            <td>{{obj.first_name}} {{obj.last_name}}</td>
                            <td>{{obj.email}}</td>
                            <td>{{obj.department}}</td>
                            <td class="text-center">
                                <a class='btn btn-warning btn-sm' href="{% url 'human:view' obj.id %}"><i
                                        class="fa-regular fa-eye"></i></a>
                                <!-- Button triger modal -->
                                <a id="edit-btn" type='button' class='btn btn-success btn-sm edit-btn'
                                    href="{% url 'human:update' obj.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class='btn btn-danger btn-sm' href="{% url 'human:delete' obj.id %}"><i
                                        class="fa-regular fa-circle-xmark"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}