{% extends 'main.html' %}
{% block content %}
<main class="content px-3 py-2">
    <div class="container-fluid">
        <div class="mb-4 text-center">
            <h4>Informação Encomenda <strong>{{object.transaction_id}}</strong></h4>
        </div>
    </div>
    <!-- Informação Encomenda -->
    <div class="row">

        <!-- Posições Encomenda -->
        <div class="col d-flex">
            <div class="card flex-fill border-0 illustration">
                <div class="card-body p-0 d-flex flex-fill">
                    <div class="row g-0 w-100">
                        <div class="col-12">
                            <div class="p-3 m-1">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-warning text-center">
                                        <h5>Encomenda
                                            <strong>{{object.transaction_id}}</strong>
                                        </h5>

                                    </li>
                                    {% for obj in object.get_positions %}
                                    <li
                                        class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">
                                                {{obj.product.name}}
                                            </div>
                                        </div>
                                        <span class="badge bg-warning rounded-pill">{{obj.quantity}} x</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim Posições Encomenda -->


        <!-- Informações Do Cliente -->
        <div class="col d-flex">
            <div class="card flex-fill border-0 illustration">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-warning text-center">
                            <h5> Cliente ID{{object.client.id}}</h5>
                        </li>
                        <li
                            class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    {{object.client.name}}
                                </div>
                            </div>

                            <div class="product__img rounded mx-auto d-block my-3 p-2">
                                <img src="{{object.client.logo.url}}" class="img-thumbnail"
                                    alt="{{object.client.name}} image">
                            </div>
                        </li>
                        <li
                            class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    Contacto: ..........
                                </div>
                            </div>
                        </li>
                        <li
                            class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    Contador de encomendas realizadas
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Fim Informações Do Cliente -->

    </div>
    <!-- Fim Informação Encomenda -->


    <div class="row my-4">

        <!--  Preços -->
        <div class="col d-flex">
            <div class="card flex-fill border-0 illustration">
                <div class="card-body p-0 d-flex flex-fill">
                    <div class="row g-0 w-100">
                        <div class="col-12">
                            <div class="p-3 m-1">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-warning d-flex justify-content-between">
                                        <h5><strong>Preços {{object.transaction_id}}</strong></h5>
                                    </li>
                                    {% for obj in object.get_positions %}
                                    <li
                                        class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">
                                                {{obj.product.name}}
                                            </div>
                                        </div>
                                        <span class="badge bg-secondary rounded-pill">{{obj.product.price}} € /
                                            ea</span>
                                        <span class="badge bg-warning rounded-pill">{{obj.price}} €</span>
                                    </li>
                                    {% endfor %}
                                    <!-- Total -->
                                    <li
                                        class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">
                                                Preço Total:
                                            </div>
                                        </div>
                                        <span class="badge bg-warning rounded-pill">{{object.total_price}}
                                            €</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim Preços -->


        <!-- Inicio Chart -->
        <div class="col d-flex">
            <div class="card flex-fill border-0 illustration">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-warning text-center">
                            <h5>Visualização</h5>
                        </li>
                        <li class="list-group-item list-group-item-secondary text-center">
                            <div class="chart-container">
                                <canvas id="myChart_order"></canvas>
                                <script>
                                    var ctx = document.getElementById('myChart_order').getContext('2d');
                                    var myChart_order = new Chart(ctx, {
                                        type: 'pie',
                                        data: {
                                            labels: [{% for obj in object.get_positions %} '{{ obj.product.name }}', {% endfor %}],
                                    datasets: [{
                                        label: 'Quantidade',
                                        data: [{% for obj in object.get_positions %} '{{ obj.quantity }}', {% endfor %}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.6)',
                                            'rgba(255, 159, 64, 0.6)',
                                            'rgba(255, 205, 86, 0.6)',
                                            'rgba(75, 192, 192, 0.6)',
                                            'rgba(54, 162, 235, 0.6)',
                                            'rgba(153, 102, 255, 0.6)',
                                            'rgba(201, 203, 207, 0.6)'
                                        ],
                                            borderColor: [
                                                'rgb(255, 99, 132, 0.6)',
                                                'rgb(255, 159, 64, 0.6)',
                                                'rgb(255, 205, 86, 0.6)',
                                                'rgb(75, 192, 192, 0.6)',
                                                'rgb(54, 162, 235, 0.6)',
                                                'rgb(153, 102, 255, 0.6)',
                                                'rgb(201, 203, 207, 0.6)'
                                            ],
                                                borderWidth: 1
                                                                                                }]
                                                                                            },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        },
                                        responsive: true,
                                            maintainAspectRatio: false // Desabilita a manutenção da proporção para permitir a adaptabilidade
                                    }
                                                                                        });
                                </script>
                            </div>

                        </li>
                </div>
                <!-- Fim Chart Ordem de Produção -->
            </div>
        </div>
        <!-- Fim Chart -->

    </div>
</main>
{% endblock content %}