{% extends 'main.html' %}
{% block content %}
<div class="card shadow my-2 p-2">
    <h3 class="card-header bg-dark text-white text-center">
        Lista de Encomendas
    </h3>
    <div class="card-body">
        <ul class="list-group">
            {% for obj in object_list %}

            <li class="list-group-item">
                {{obj.transaction_id}}
                <a href="{{obj.get_absolute_url}}" class="btn btn-warning btn-sm">Ver</a>
            </li>
            {% endfor %}

        </ul>
    </div>
</div>
{% endblock content %}