<div class="card border-2">
    <div class="card-body text-center">
        <table class="table">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade Total</th>
                    <th scope="col">Produções</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objects %}
                <tr>
                    <th scope="row">{{obj.id}}</th>
                    <th>{{obj.product.name}}</th>
                    <th>{{obj.total_quantity}}</th>
                    <th><a class='btn btn-warning btn-sm' href="{% url 'product:view' obj.product.id %}"><i
                                class="fa-regular fa-eye"></i></a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>