<div class="card border-2">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade da Ordem</th>
                    <th scope="col">Quantidade Produzida</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Criada</th>
                    <th scope="col">Atividade</th>

                </tr>
            </thead>
            <tbody>
                {% for obj in objects %}
                <tr>
                    <th scope="row">{{obj.id}}</th>
                    <th>{{obj.product.name}}</th>
                    <th>{{obj.quantity_ordered}}</th>
                    <th>{{obj.quantity_produced}}</th>
                    <th>{{obj.state}}</th>
                    <th>{{obj.created}}</th>
                    <th><a class='btn btn-warning btn-sm' href="{% url 'product:view' obj.product.id %}"><i
                                class="fa-regular fa-eye"></i></a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>