{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row mt-4">
        <div class="col-sm4">
            <div class="card text-center">
                <div class="card-header bg-dark text-white">
                    Sure ?
                </div>
                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <h5 class="card-title">...</h5>
                        <p class="card-text">Do you want to delete {{obj.name}}??</p>
                        <input class="btn btn-outline-dark btn-block" type="submit" value="Confirm">
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-dark btn-block">No, go back!</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        You can not come back from this!
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}