{% extends 'main.html' %}
{% block content %}
<main class="content px-3 py-2">
    <div class="container-fluid">
        <div class="mb-3 text-center">
            <h4> Inventário</h4>
            <hr>
        </div>
        <div class="action mb-4 text-end">
            <a type="button" class="btn btn-warning" href="{% url 'product:prod' %}"><i
                    class="fa-solid fa-plus"></i></a>
        </div>
        <div class="row">
            {% include 'product/card_chart_bar_inv.html' %}
        </div>

        <div class="row">
            {% include 'product/card_table_inv.html' %}
        </div>
    </div>
</main>
{% endblock content %}