{% extends 'main.html' %}
{% block content %}
<main class="content px-3 py-2">


    <div class="container-fluid">
        <div class="action mb-4 text-end">
            <a type="button" class="btn btn-warning" href="{% url 'product:create' %}"><i
                    class="fa-solid fa-plus"></i></a>
        </div>

        <div class="card border-0">
            <div class="card-header">
                <h4 class="card-title text-center mt-2">
                    Tabela de Produtos
                </h4>
            </div>
            <!-- Start Table Produtos -->
            <div class="card-body text-center">
                <table class="table bg-white">
                    <thead class="thead-dark">
                        <tr class="table-dark">
                            <th scope="col">#</th>
                            <th scope="col">Produto</th>
                            <th scope="col"> Preço </th>
                            <th scope="col"> Categoria</th>
                            <th scope="col">Atividade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in objects %}
                        <tr>
                            <th scope="row">{{obj.id}}</th>
                            <td>{{obj.name}}</td>
                            <td>{{obj.price}}</td>
                            <td>{{obj.category}}</td>
                            <td class="text-center">
                                <a class='btn btn-warning btn-sm' href="{% url 'product:view' obj.id %}"><i
                                        class="fa-regular fa-eye"></i></a>
                                <!-- Button triger modal -->
                                <a id="edit-btn" type='button' class='btn btn-success btn-sm edit-btn'
                                    href="{% url 'product:update' obj.id %}"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                                <a class='btn btn-danger btn-sm' href="{% url 'product:delete' obj.id %}"><i
                                        class="fa-regular fa-circle-xmark"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- End Table Produtos -->
        </div>
    </div>
</main>
{% endblock content %}