{% extends 'main.html' %}
{% block content %}
<div class="modal fade" id="prodOrderModal" tabindex="-1" aria-labelledby="prodOrderModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="prodOrderModal">Adicionar Funcionário</h5>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark"></i></button>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">

                    <!-- product -->
                    {{ form.product.errors }}
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Produto</label>
                        <select class="form-select" id="inputGroupSelect01" name="product">
                            <option selected disabled>Choose...</option>
                            {% for item in products %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {{ form.quantity_ordered.errors }}
                    <!-- quantidade -->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Quantidade da Ordem"
                            aria-label="Quantidade da Ordem" aria-describedby="basic-addon2" name="quantity_ordered">
                        <span class="input-group-text" id="basic-addon2">Unidades</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning border-2 text-bottom p-2">Confirmar<span
                            class="badge bg-dark mx-2"><i class="fa-solid fa-check"></i></span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<main class="content px-3 py-2">
    <div class="container-fluid">
        <div class="mb-3 text-center">
            <h4> Ordens De Produção</h4>
            <hr>
        </div>
        <div class="action mb-4 text-end">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#prodOrderModal"><i
                    class="fa-solid fa-plus"></i></button>
        </div>
        <!-- Tabela Do Ordem de Produção Ínicio -->
        <div class="row my-4">
            <div class="col">{% include 'product/card_table_order.html' %}</div>
        </div>
        <br>
        <!-- Chart loop -->
        <div class="row my-4">
            <div class="col-12 d-flex align-self-center text-center">
                <!-- Chart de Ordens de produção-->
                <div class="card flex-fill border-2 illustration p-2 my-2">
                    <div class="card-body p-0 d-flex flex-fill">
                        <div class="row g-0 w-100">
                            {% for obj in objects %}
                            <div class="col-lg-2 p-2 my-2 mx-2">
                                <ul class="list-group mb-2">
                                    <li class="list-group-item list-group-item-warning d-flex justify-content-between">
                                        <strong><i class="fa-solid fa-chart-simple"></i> {{obj.product.name}} <i
                                                class="fa-solid fa-chart-simple"></i></strong>
                                    </li>
                                    <li class="list-group-item list-group-item-secondary">
                                        Ordem de :
                                        <span
                                            class="badge bg-secondary rounded-pill align-self-end">{{obj.quantity_ordered}}
                                            unidades</span>
                                    </li>
                                    <li class="list-group-item list-group-item-secondary">
                                        Produzidas :
                                        <span
                                            class="badge bg-secondary rounded-pill align-self-end">{{obj.quantity_produced}}
                                            unidades</span>
                                    </li>
                                </ul>
                                <div class=" chart-container">
                                    <canvas id="myCharts{{obj.id}}" class="align-self-center"></canvas>
                                    <script>
                                        var ctx = document.getElementById('myCharts{{obj.id}}').getContext('2d');
                                        var myCharts{{ obj.id }} = new Chart(ctx, {
                                            type: 'pie',
                                            data: {
                                                labels: ['Quantidade Necessária', 'Quantidade Produzida'],
                                                datasets: [{
                                                    label: 'Ordem de Produção',
                                                    data: ['{{obj.quantity_ordered}}', '{{obj.quantity_produced}}'],
                                                    backgroundColor: [
                                                        'rgba(255, 205, 86, 1)',
                                                        'rgba(153, 102, 255, 1)',
                                                    ],
                                                    borderColor: [
                                                        'rgb(0, 0, 0, 1)',
                                                        'rgb(0, 0, 0, 1)',

                                                    ],
                                                    borderWidth: 1
                                                }]
                                            },
                                            options: {
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero: true
                                                        }
                                                    }]
                                                },
                                                // Desabilita a manutenção da proporção para permitir a adaptabilidade
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="vr"></div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- End loop -->

        <!-- End chart -->
    </div>
</main>
{% endblock content %}